* {
  margin: 0;
}

/*-----------------------header----------------------------*/

header {
  display: block;
}

.descuentos {
  display: flex;
  align-items: center;
  background-color: #1cd1b0;
  height: 38px;
  background-color: #1cd1b0;
  z-index: 100;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.descuentos p {
  margin-left: 28px;
}

/*--------------------------main-------------------------*/

.heroes {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #00669f;
  height: 90px;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.heroes h1 {
  font-family: "Roboto", sans-serif;
  margin-left: 28px;
}

.cards {
  display: flex;
  padding-top: 254px;
  margin-bottom: 250px;
  align-items: center;
  justify-content: space-evenly;
}

.batman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 515px;
  width: 300px;
  background-color: #f3f3f3;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.corazon {
  position: absolute;
  top: 16px;
  left: 21px;
}

.foto {
  position: relative;
  top: -60px;
  border-radius: 50%;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

.name {
  position: absolute;
  bottom: 227px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.textoDescriptivo {
  position: absolute;
  left: 16px;
  bottom: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #333333;
}

.textoDescriptivoHarley {
  position: absolute;
  left: 16px;
  bottom: 100px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: #333333;
}

.boton {
  position: absolute;
  bottom: 30px;
  padding: 15px 37px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #00669f;
}

/*--------------------------footer------------------------*/

.pieDePagina {
  background-color: #00669f;
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.textoFinal {
  position: relative;
  margin: 16px;
  color: white;
  font-family: "Roboto", sans-serif;
}
